{% extends 'PivotXCoreBundle::base.html.twig' %}

{% block crud %}

<h1>Contenttype edit</h1>

<form action="{{ path('contenttype_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-primary">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('contenttype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('contenttype_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
