    <table class="crud table table-striped table-bordered" data-crud-table="{{ crud.htmlid }}">
        <thead>
            <tr>
                <th class="select-checkbox">
                    <input type="checkbox" name="id-toggle" data-id="id-toggle">
                </th>
                <th>Id</th>
                <th>Site</th>
                <th>Key</th>
                <th>Text (nl)</th>
                <th>Text (en)</th>
            </tr>
        </thead>

        <tbody>
        {% for item in items.result %}
            <tr class="{# item.crudGetRowClass() #}">
                <td class="select-checkbox">
                    <input type="checkbox" name="id{{ item.id }}" data-id="{{ item.id }}">
                </td>
                <td>
                    № {{ item.id }}
                </td>
                <td>
                    <span class="sitename">{{ item.sitename }}</span>
                </td>
                <td>
                    <span class="groupname">{{ item.groupname }}</span>.<span class="name">{{ item.name }}</span>

                    <div class="btn-group on-row-hover">
                        <a class="btn btn-mini" href="{{ ref(['_table/',crud.entity,'/',item.id]|join) }}"><i class="icon-pencil icon-white"></i> {{ translate('entity.button.edit') }}</a>
                        <a class="btn btn-mini btn-danger crud-delete" href="{{ ref(['_table/',crud.entity,'/',item.id,'?action=delete']|join) }}"><i class="icon-trash icon-white"></i> {{ translate('entity.button.delete') }}</a>
                    </div>
                </td>
                <td>
                    <span>
                        {{ item.textnl }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.texten }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
