<div class="pagination pagination-centered">
<ul>
   {% if pager.isFirstPage == false %}
        <li class="first"><a href="{{ paginate_path(route, pager.getFirstPage, parameters) }}">&laquo;</a></li>
        <li class="previous"><a href="{{ paginate_path(route, pager.getPreviousPage, parameters) }}">&lsaquo;</a></li>
     {% else %}
        <li class="first disabled"><a href="{{ paginate_path(route, pager.getFirstPage, parameters) }}">&laquo;</a></li>
        <li class="previous disabled"><a href="{{ paginate_path(route, pager.getPreviousPage, parameters) }}">&lsaquo;</a></li>
   {% endif %}

   {% for page in pager.getPages %}
      {% if page == pager.getPage %}
        <li class="active">
            <a href="{{ paginate_path(route, page, parameters) }}">{{ page }}</a>
        </li>
      {% else %}
        <li>
            <a href="{{ paginate_path(route, page, parameters) }}">{{ page }}</a>
        </li>
      {% endif %}
   {% endfor %}

   {% if pager.isLastPage == false %}
        <li class="next"><a href="{{ paginate_path(route, pager.getNextPage, parameters) }}">&rsaquo;</a></li>
        <li class="last"><a href="{{ paginate_path(route, pager.getLastPage, parameters) }}">{{pager.getLastPage}} &raquo;</a></li>
    {% else %}
        <li class="next disabled"><a href="{{ paginate_path(route, pager.getNextPage, parameters) }}"> &rsaquo;</a></li>
        <li class="last disabled"><a href="{{ paginate_path(route, pager.getLastPage, parameters) }}">{{pager.getLastPage}} &raquo;</a></li>
   {% endif %}
</ul>
</div>