{% extends 'PivotXCoreBundle::base.html.twig' %}

{% block crud %}

<h1>Taxonomy list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Slug</th>
            <th>Reference</th>
            <th>Name</th>
            <th>Description</th>
            <th>Parentid</th>
            <th>Sortingorder</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('taxonomy_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.slug }}</td>
            <td>{{ entity.reference }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.parentId }}</td>
            <td>{{ entity.sortingOrder }}</td>
            <td>
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('taxonomy_show', { 'id': entity.id }) }}" class="btn">show</a>
                    </li>
                    <li>
                        <a href="{{ path('taxonomy_edit', { 'id': entity.id }) }}" class="btn">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('taxonomy_new') }}" class="btn">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}
