{% extends 'PivotXCoreBundle::base.html.twig' %}

{% block crud %}

<h1>Taxonomy</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <th>Reference</th>
            <td>{{ entity.reference }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Parentid</th>
            <td>{{ entity.parentId }}</td>
        </tr>
        <tr>
            <th>Sortingorder</th>
            <td>{{ entity.sortingOrder }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('taxonomy') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('taxonomy_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('taxonomy_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
