{% extends 'PivotXCoreBundle::base.html.twig' %}

{% block crud %}

<h1>Response</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Reference</th>
            <td>{{ entity.reference }}</td>
        </tr>
        <tr>
            <th>Responsetype</th>
            <td>{{ entity.responseType }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ entity.body }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>Ip</th>
            <td>{{ entity.ip }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>Originurl</th>
            <td>{{ entity.originUrl }}</td>
        </tr>
        <tr>
            <th>Origincreator</th>
            <td>{{ entity.originCreator }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('response') }}" class="btn">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('response_edit', { 'id': entity.id }) }}" class="btn">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('response_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
